version: '3'
services:
  app:
    build: 
      context: .
      dockerfile: ./src/data/scraper/Dockerfile
    volumes:
      - .:/app
    depends_on:
      - db
  db:
    image: mongo:5.0
    volumes:
      - ./data/database:/data/db
    ports:
      - 27017:27017
  python_app:
    build:
      context: .
      dockerfile: ./src/data/scraper/PythonDockerfile
    volumes:
      - .:/app
    depends_on:
      - db
